<div class="row">
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vidarbha Tadka</mat-card-title>
        <mat-card-subtitle>Veg & Non-Veg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.shutterstock.com/image-photo/chinese-food-dark-background-noodles-260nw-446808091.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          we have given more dishesh likes panjabi thali , matan rassa, chicken rassa, Bhaji poli 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>